{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div id="appProfile">
        
        {% set class = "bg-gray-900 text-light p-5 mb-5 rounded h-15 w-15 d-flex justify-content-between" %}

        <p class="title">My profile</p>

        {% for dat in data %}
            <div class="text-dark my-5">

                {# ID #}
                <p class="title">ID </p>
                <div class="{{ class }}">
                    <div>
                        <span class="title">ID: </span>
                        <span class="title">{{dat.id}}</span>
                    </div>

                    <div>
                    </div>
                </div>

                {# Photo #}
                <p class="title">Photo </p>
                <div class="{{ class }}">
                    <div>
                        <span class="title">Photo: </span>
                        <span class="h5">You don´t have a photo yet</span>
                    </div>

                    <div class="d-flex justify-content-between align-center">
                        <button class="button-orange"><i>edit</i></button>
                    </div>
                </div>

                {# Name #}
                <p class="title">Name </p>
                <div class="{{ class }}">
                    <div>
                        <span class="title">Name: </span>
                        <span class="title">{{dat.name}}</span>
                    </div>

                    <div class="d-flex justify-content-between align-center">
                        <button class="button-orange"><i>edit</i></button>
                    </div>
                </div>

                {# Email #}
                <p class="title">Email </p>
                <div class="{{ class }}">
                    <div>
                        <span class="title">Email: </span>
                        <span class="title">{{dat.email}}</span>
                    </div>

                    <div class="d-flex justify-content-between align-center">
                        <button class="button-orange"><i>edit</i></button>
                    </div>
                </div>

                {# Email #}
                <p class="title">Role </p>
                <div class="{{ class }}">
                    <div>
                        <span class="title">Role: </span>     
                        <span class="title"> {% set role = dat.roles[0]|split('_') %} {{role[1]}} </span>
                    </div>
                    
                    {% include "profile/_permissions.html.twig" %}
                </div>

                {# Password #}
                <p class="title">Password </p>
                <div class="{{ class }}">
                    <div>
                        <span class="title">Password: **********</span>
                    </div>

                    <div>
                        <button class="button-orange"><i>edit</i></button>
                    </div>
                </div>

                {# Actions #}
                {# Disable - Enable account #}
                {% if is_granted('ROLE_DISABLE') %}
                    {% set enable_disable = 'Enable' %}
                    {% set color_btn = 'btn-outline-success' %}
                {% else %}
                    {% set enable_disable = 'Disable' %}
                    {% set color_btn = 'btn-outline-danger' %}
                {% endif %}

                <p class="title">{{ enable_disable }} account</p>
                <div class="{{ class }}">
                    <div>
                        <span class="title">{{ enable_disable }} account</span>
                    </div>

                    <div>
                        {% include "profile/_disable.html.twig" %}
                    </div>
                </div>

                {# Delete account #}
                <p class="title">Delete account </p>
                <div class="{{ class }}">
                    <div>
                        <span class="title">This action is irreversible</span>
                    </div>

                    <div>
                        {% include "profile/_delete.html.twig" %}
                    </div>
                </div>

                <br><br><br><br><br><br><br><br>

            </div>
        {% endfor %}

    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('js/profile.js') }}"></script>
{% endblock %}