{% for user in pagination %}
    <tr>
        <td class="px-6 py-4">
            {{ user.id }}
        </td>
        <td class="px-6 py-4">
            {{ user.name }}
        </td>
        <td class="px-6 py-4">
            {{ user.email }}
        </td>
        <td class="px-6 py-4">
            {{ include('admin/_role.html.twig') }}
        </td>
        <td class="px-6 py-4 td_ban_{{ user.id }}">
            {{ include('admin/_ban_form.html.twig') }}
        </td>
        <td class="px-6 py-4">
            <div class="d-inline-block">
                {{ include('admin/_goto_edit.html.twig') }}
            </div>
            <div class="d-inline-block td_delete_{{ user.id }}">
                {{ include('admin/_delete_form.html.twig') }}
            </div>
        </td>
    </tr>
{% endfor %}