{% extends 'base.html.twig' %}

{% block title %}My Tasks{% endblock %}

{% block body %}
    <p class="title">My Tasks</p>

    <div class="mt-3 d-flex justify-content-between">

        <div class="d-flex align-center">
            {% set limit =  15 %}
            <input type="hidden" id="limit_tasks" value="{{ limit }}">
            {% set isValid = tasks|length < limit %}

            {% if isValid %}
                <a href="{{ path('task_new') }}" class="button-green">New</a>

                {% else %}
                <div class="text-light bg-red-600 p-2 rounded">You can't have more than {{ limit }} tasks !!</div>
            {% endif %}

            <span id="btn_delete_all">
                {% if tasks %}
                    {% include "task/_delete_all.html.twig" %}
                {% endif %}
            </span>

        </div>
    
        <div
        id="tasks_length"
        class="
        text-light
        p-2
        rounded
        {% if tasks|length < 8 %} bg-green-600 {% elseif tasks|length < 13 %} bg-yellow-600 {% elseif isValid %} bg-orange-600 {% else %} bg-red-600 {% endif %}
        ">
            {{ tasks|length }} of {{ limit }} tasks
        </div>

    </div>

    <div class="flex flex-col">
        <div class="my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden sm:rounded-lg">
                    <table class="min-w-full divide-y">
                        <thead>
                            <tr>
                                <th class="px-6 py-3 text-left text-xs leading-4 font-medium text-light uppercase tracking-wider">
                                    Name
                                </th>
                                <th class="px-6 py-3 text-left text-xs leading-4 font-medium text-light uppercase tracking-wider">
                                    Description
                                </th>
                                <th class="px-6 py-3 text-left text-xs leading-4 font-medium text-light uppercase tracking-wider">
                                    Date
                                </th>
                                <th class="px-6 py-3 text-left text-xs leading-4 font-medium text-light uppercase tracking-wider">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-dark text-light divide-y" id="tbody">
                            {% for task in tasks %}        
                                <tr>
                                    <td class="px-6 py-4">
                                        {{task.name}}
                                    </td>

                                    <td class="px-6 py-4">
                                        {{task.description}}
                                    </td>

                                    <td class="px-6 py-4">
                                        {{ task.dateFor | date('d-m-Y') }}
                                    </td>

                                    <td class="px-6 py-4">
                                        <a href="{{ path('task_edit', {'id': task.id}) }}" class="button-yellow"><i>edit</i></a>
                                        {{ include('task/_delete_form.html.twig') }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="px-6 py-4 whitespace-no-wrap">
                                        <p>You do not have any task yet!</p>
                                    </td>
                                    <td class=""></td>
                                    <td class=""></td>
                                    <td class=""></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/tasks.js') }}"></script>
{% endblock %}