{{ form_start(form) }}
    <div class="form-email">
        {{ form_label(form.email) }}
        <div class="form-error">
            {{ form_errors(form.email) }}
        </div>
        {{ form_widget(form.email) }}
    </div>
    
    <div class="form-name">
        {{ form_label(form.name) }}
        <div class="form-error">
            {{ form_errors(form.name) }}
        </div>
        {{ form_widget(form.name) }}
    </div>

    <div class="form-password">
        {{ form_label(form.password) }}
        <div class="form-error">
            {{ form_errors(form.password) }}
        </div>
        {{ form_widget(form.password) }}

        {# <label for"rePassword">Repeat password</label>
        <input type="password" class="input-customize" name="rePassword" id="rePassword"><br> #}
    </div>



    <div>
        <button type="button" id="button_show" class="button-blue">Show / Hide password</button>
    </div>

    <div class="my-3">
        <span>Do you have an account? <a class="text-blue" href="{{ path('app_login') }}">Log In</a> </span>
    </div>

{{ form_end(form) }}