<div class="sidebar-container text-light bg-dark">
    <div class="logo bg-blue-700">
        <h4 class="h4 mt-2">FACER</h4>
    </div>
    <div class="menu">
        {% if is_granted('ROLE_BAN') %}
            <div class="container">
                <p class="text-danger h4">Your account is banned, you only have access to the Home page</p>
                <p>For more info, click <a class="text-info" href="#">here</a></p>
            </div>
           {% else %}        
            <a href="{{path('index')}}" class="d-block p-3 d-flex align-center text-yellow-300"><i>home</i> Home</a>
            <a href="{{path('task_index')}}" class="d-block p-3 d-flex align-center text-green-400"><i>work</i> Tasks</a>
            <a href="#" class="d-block p-3 d-flex align-center text-pink-600"><i>chat</i> Chats</a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{path('profile')}}" class="d-block p-3 d-flex align-center text-blue-600"><i>person</i> Profile</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{path('admin')}}" class="d-block p-3 d-flex align-center text-yellow-600"><i>admin_panel_settings</i> Admin</a>
            {% endif %}
                <a href="{{path('app_logout')}}" class="d-block p-3 d-flex align-center text-red-600"><i>logout</i> Logout</a>
                {% else %} 
            {% endif %}
            
        {% endif %}
    </div>
</div>

<style>
    .sidebar-container{
        min-height: 100vh;
    }
    .logo{
        padding-left: 1rem;
        padding-top: 0.37rem;
        padding-bottom: 0.37rem;
    }
    .menu{
        width: 18rem;
    }
    .menu > a:hover{
        text-decoration: none;
        color:white;
    }
</style>